{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_sphorphanedfiles/sectionTable

    Moodle template competency breakdown report.

    This template includes ajax functionality, so it cannot be shown in the template library.
}}

<form action="deleteResult.php" method="POST">
  <table class="table table-hover table-bordered">
    <thead class='orphandfilesth'>
    <tr>
        <th width="150px" scope="col">{{translation.header.modName}}</th>
        <th width="500px" scope="col">{{translation.header.content}}</th>
        <th width="400px" scope="col">{{translation.header.filename}}</th>
        <th width="100px" scope="col">{{translation.header.tool}}</th>
    </tr>
    </thead>
    <tbody>
    {{#orphanedFiles}}
        <tr>
            <td><a href='{{{modurl}}}'>{{{iconHtml}}}{{name}}</a></td>
            <td><details><summary>Quelltext:</summary><textarea style="width: 100%;" rows="4">{{content}}</textarea></details> <details><summary>{{translation.moduleContent}}:</summary>{{{content}}}</details></td>
            <td><div class='row ml-0'>
                <div>
                  <input type="checkbox" name="fileIDList[]" value="{{fileID}}">
                </div>
                <div class='ml-1'>{{{filename}}}</div>
                <div class='ml-1'>({{{filesize}}} MB)</div>
                </div>
                {{{preview}}}
            </td>
            <td>
                {{#userAllowedToDelete}}
                    <form action="#" method="POST">
                        <input type="hidden" name="fileID" value="{{fileID}}">
                        <div>
                            <button class="btn btn-sm btn-danger p-1"><i class="fa fa-trash fa-fw h4 m-b-0"></i>
                            </button>
                        </div>
                    </form>
                {{/userAllowedToDelete}}
                {{^userAllowedToDelete}}
                    No
                {{/userAllowedToDelete}}
            </td>
        </tr>
    {{/orphanedFiles}}
    </tbody>
  </table>
  <button type="submit">Auswahl löschen</button>
</form>
